<template name="aboutUs">

  <a class="text-warning" data-toggle="modal" data-target="#aboutUsModal"><b>About Us</b></a>

  <div class="modal inmodal" id="aboutUsModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <i class="fa fa-info-circle modal-icon"></i>
                  <h4 class="modal-title">About Us</h4>
                  <small class="font-bold">Safe Ride's Mission Statement</small>
              </div>
              <div class="modal-body">
                <p>
                  Safe Ride is an assault prevention service dedicated to serving
                  the University of Oregon and Eugene communities. We aim to uphold
                  our mission of providing a free and reliable assault prevention
                  shuttle service to the students, faculty and staff of the University
                  of Oregon who would otherwise walk alone at night and risk possible
                  assault. Safe Ride views itself as an integral part of the network
                  of transportation organizations on the University of Oregon campus.
                  We aim towards providing a safer environment for all by increasing
                  public awareness of our services and the dangers of assault.
                  <br><br>
                  In 1985, the student government conducted a survey that found an
                  overwhelming majority of women did not feel safe walking alone
                  at night. Project Safe Ride was granted funding as a sexual assault
                  prevention shuttle service for women, with the motto, "Women
                  Helping Women." In 2001, Project Safe Ride formed a sister
                  organization: Nightride. Nightride was open to all students
                  and was intended to reach other members of the campus community
                  who are at an elevated risk for assault including: students of
                  racial minorities, LGBTQ community members, and international
                  students. Safe Ride is the result of a merger between Project
                  Safe Ride and Nightride; the two sister organizations dedicated
                  to making campus a safer place.
                  <br><br>
                  Currently, Safe Ride operates four minivans, providing an
                  average of 60 people per night with safe transportation throughout
                  the Eugene community. The Safe Ride staff consists of 30 dispatchers
                  (including two directors, two volunteer/intern coordinators and
                  an education coordinator) and a dedicated volunteer base of
                  approximately 40 people. In addition to the nightly shuttle
                  service, Safe Ride is a member of the University of Oregon's
                  Alliance for Sexual Assault Prevention, which participates in
                  educational programming throughout the year.
                </p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal">Back</button>
              </div>
          </div>
      </div>
  </div>

</template>
