<template name="contactUs">

  <a class="text-warning" data-toggle="modal" data-target="#contactUsModal"><b>Contact Us</b></a>

  <div class="modal inmodal" id="contactUsModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <i class="fa fa-envelope-o modal-icon"></i>
                  <h4 class="modal-title">Contact Us</h4>
              </div>
              <div class="modal-body">
                <h2 class="text-info text-center">Reservation Line</h2>
                <p class="text-center">541-346-RIDE ex. 2</p><br>
                <h2 class="text-info text-center">Staff Line</h2>
                <p class="text-center">541-346-0653</p><br>
                <h2 class="text-info text-center">Email Us</h2>
                <p class="text-center"><a href="mailto:saferide@uoregon.edu" target="_top">saferide@uoregon.edu</a></p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal">Back</button>
              </div>
          </div>
      </div>
  </div>

</template>
