<template name="googleMaps">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDWVdGb9pumL0h19tAZs0xKpLwuBcXUcw&callback=initMap" type="text/javascript"></script>
  <!-- <div class="ibox-title">
    <h5>Google Maps Basic example</h5>
  </div> -->
  <div class="ibox-content">
    <!-- <p>
      With google maps <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions">API</a> You can easy customize your map.
    </p> -->
    <div class="google-map" id="map1"></div>
  </div>
</template>
