<template name="home">
  {{> pageHeading title='Home' }}

  <div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
      <div class="col-md-12">
          <div class="ibox">
              {{> googleMaps}}
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Queue Distribution</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">
                    <div class="flot-chart">
                        <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Something Else</h5>
                    {{>iboxTools}}
                </div>
                <div class="ibox-content">

                </div>
            </div>
        </div>
    </div>

  </div>

</template>
