<template name="portal">
  <div class="loginColumns animated fadeInDown">

    <div class="row">

      <div class="col-md-6">
        <br><br>
        <img src="logos/splashPageLogo.png">
      </div>

      <div class="col-md-6">
        <h2 class="font-bold text-center text-white">Welcome to the SafeRide Portal</h2>
        <p class="text-white">
          Safe Ride is devoted to the idea that a person regardless of gender identity,
          race, religion, or sexual preference should be able to go where they wish at
          night while feeling comfortable and safe.
          <br><br>
          Providing nearly 15,000 rides a year,
          Safe Ride is a free shuttle service that provides university students,
          faculty and staff with an alternative to walking alone at night.
        </p>
        <br>
        {{> customerRequest}}
        <br>
        {{> reservationStatus}}
        <br>
        <small>
          <p class="text-center text-white">
            <b>Sun-Thu:</b> 7pm-12am
            <br>
            <b>Fri-Sat:</b> 7pm-2am
          </p>
        </small>
      </div>

    </div>
  </div>

  <div class="footer">
      <div class="pull-left">
        {{> aboutUs}}
        <img src="images/spacer.png">
        {{> boundaries}}
        <img src="images/spacer.png">
        {{> staff}}
        <img src="images/spacer.png">
        {{> rulesPolicies}}
        <img src="images/spacer.png">
        {{> volunteerIntern}}
        <img src="images/spacer.png">
        {{> contactUs}}
        <img src="images/spacer.png">
        <a class="text-warning" href="{{pathFor route='login'}}"><b>Login</b></a>
        <!-- {{> login}} -->
      </div>
      <div class="pull-right">
        <small>&copy; 2016 University of Oregon</small>
      </div>
  </div>

</template>
