<template name="reservationStatus">

  <button type="button" class="btn btn-block btn-lg btn-default center-block" data-toggle="modal" data-target="#reservationStatusModal">View Reservation Status</button>

  <div class="modal inmodal" id="reservationStatusModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <i class="fa fa-info-circle modal-icon"></i>
                  <h4 class="modal-title">View Reservation Status</h4>
                  <small class="font-bold">If you have previously requested a reservation, enter the following information to verify its status</small>
              </div>
              <div class="modal-body">
                <form id="reservationStatusForm" method="post">
                  <div class="form-group"><input id="statusUOID" type="text" placeholder="UO ID 95#" class="form-control" data-mask="999999999"></div>
                </form>
                <div id="invalidResult" class="alert alert-danger hidden">
                  <p class="text-center">
                    <i class="fa fa-exclamation fa-3x"></i><br>
                    <b>Invalid UO ID, please try again</b><br>
                    For help, please call 541-346-RIDE ex. 2
                  </p>
                </div>
                <div id="pendingResult" class="alert alert-info hidden">
                  <p class="text-center">
                    <i class="fa fa-calendar-plus-o fa-3x"></i><br>
                    <b>Your reservation request is pending</b><br>
                    For help, please call 541-346-RIDE ex. 2
                  </p>
                </div>
                <div id="scheduledResult" class="alert alert-success hidden">
                  <p class="text-center">
                    <i class="fa fa-calendar-check-o fa-3x"></i><br>
                    <b>Your reservation request has been approved and scheduled</b><br>
                    For help, please call 541-346-RIDE ex. 2
                  </p>
                </div>
                <div id="deniedResult" class="alert alert-warning hidden">
                  <p class="text-center">
                    <i class="fa fa-calendar-times-o fa-3x"></i><br>
                    <b>Your reservation request has been denied</b><br>
                    For help, please call 541-346-RIDE ex. 2
                  </p>
                </div>
                <div id="errorResult" class="alert alert-danger hidden">
                  <p class="text-center">
                    <i class="fa fa-exclamation fa-3x"></i><br>
                    <b>Unable to retrieve status of reservation request</b><br>
                    For help, please call 541-346-RIDE ex. 2
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                  <button id="cancelStatus" type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                  <button id="checkStatus" type="submit" class="btn btn-primary">Check Status</button>
              </div>
          </div>
      </div>
  </div>


  <script>
    $('#checkStatus').click(function(e){
        e.preventDefault();
        resetHiddenElement();
        var uoid = $('#statusUOID').val();
        checkReservationStatus(uoid);
    });

    $('#reservationStatusModal').on('hidden.bs.modal', function () {
      $('#reservationStatusModal').find("input,textarea,select").val('').end();
      resetHiddenElement();
    });

  </script>

</template>
