<template name="rulesPolicies">

  <a class="text-warning" data-toggle="modal" data-target="#rulesPoliciesModal"><b>Rules & Policies</b></a>

  <div class="modal inmodal" id="rulesPoliciesModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <i class="fa fa-check-square-o modal-icon"></i>
                  <h4 class="modal-title">Rules & Policies</h4>
              </div>
              <div class="modal-body">
                <ul>
                  <li>We are a student-funded organization; therefore, we can only provide rides to students, faculty and staff of the University of Oregon.</li>
                  <br>
                  <li>We can only take groups of 3 or less. This is because it is statistically proven that the risk of assault significantly decreases in groups of 4 or more.</li>
                  <br>
                  <li>We do not start operating until the evening, but our phone system is accepting messages all day.</li>
                  <br>
                  <li>If we are running more than 3 minutes late, we will call you to let you know! Otherwise, we do not call ahead.</li>
                  <br>
                  <li>We can only wait 5 minutes after your scheduled ride time. After that, we have to leave! We have a busy schedule to maintain, so we cannot wait more than 5 minutes past your scheduled time.</li>
                  <br>
                  <li>If you decide you don't need a ride anymore, let us know! If you don't let us know, you will be put on our "no show" list. Three "no shows", and we will not be able to offer you any more rides in the future.</li>
                  <br>
                  <li>If you need multiple rides, please wait until you have completed your first ride before calling in to schedule another.</li>
                  <br>
                  <li>There is absolutely <strong class="text-danger">NO alcohol</strong> permitted in the vans, open or closed. No exceptions.</li>
                </ul>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal">Back</button>
              </div>
          </div>
      </div>
  </div>

</template>
