<template name="scheduled">
  {{#each scheduled}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#ticket{{ticket}}">
                  {{name}} <div class="pull-right"><small>{{date}}</small></div>
                </a>
            </h5>
        </div>
        <div id="ticket{{ticket}}" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <small>
                  <div class="col-md-6">
                      <b>Pickup:</b> {{pickup}}<br>
                      <b>Drop Off:</b> {{dropoff}}<br>
                      <b># Riders:</b> {{riders}}
                  </div>
                  <div class="col-md-6">
                      <b>UO ID:</b> {{uoid}}<br>
                      <b>Phone:</b> {{phone}}
                  </div>
                </small>
              </div>
            </div>
        </div>
    </div>
  {{/each}}
</template>
