<template name="volunteerIntern">

  <a class="text-warning" data-toggle="modal" data-target="#volunteerInternModal"><b>Volunteer & Intern</b></a>

  <div class="modal inmodal" id="volunteerInternModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <i class="fa fa-bus modal-icon"></i>
                  <h4 class="modal-title">Volunteer & Intern</h4>
              </div>
              <div class="modal-body">
                <h2 class="text-info text-center">Volunteering for Safe Ride</h2>
                Volunteers are a central component of what we do at Safe Ride.
                Without the help of much needed volunteers, Safe Ride would be
                unable to assist the average of 60 riders a night move safely
                and securely throughout the streets of Eugene. Come in to the
                Safe Ride office to speak with one of our volunteer coordinators
                or email us at <a href="mailto:saferide@uoregon.edu?Subject=Volunteer/Intern%20Inquiry" target="_top">saferide@uoregon.edu</a> to learn more!

                <h2 class="text-info text-center">Why you should volunteer for Safe Ride</h2>
                <ul>
                  <li>Volunteering is a great opportunity to learn the streets of Eugene while getting to know new people. You can even volunteer with a friend and schedule some quality time together each week.</li><br>
                  <li>It's a great way to earn community service hours for your sorority, fraternity or other organization.</li><br>
                  <li>It's tons of fun, and you will be helping keep the streets of Eugene safe!</li>
                </ul>

                <h2 class="text-info text-center">What volunteering for Safe Ride entails</h2>
                <ul>
                  <li>The responsibilities of Safe Ride volunteers vary. Our two main positions for volunteers are Driver and Navigator. Both positions require a half hour training session with one of our volunteer coordinators, during which etiquette and protocol will be explained.</li><br>
                  <li>Volunteer Drivers and Navigators are asked to commit to one 2 to 2.5 hour shift, once per week, for at least one term. If you cannot commit this much time or are interested in other forms of volunteering, such as educating or advertising, contact us and we'll work something out. Our coordinators are always happy to hear suggestions!</li><br>
                  <li>Drivers need to become van certified by completing an additional training that can be scheduled through a volunteer coordinator.</li><br>
                  <li>The driver's co-pilot, or Navigator, is responsible for informing the driver of passenger pickup and drop off locations while maintaining communication with the Safe Ride office over the CB radio.</li>
                </ul>

                <h2 class="text-info text-center">How to sign up</h2>
                If interested, please email us at <a href="mailto:saferide@uoregon.edu?Subject=Volunteer/Intern%20Inquiry" target="_top">saferide@uoregon.edu</a>, call us at 541-346-0653, or stop by our office located in EMU South Room 3, near the controllers office.

                <h2 class="text-info text-center">Safe Ride Internships</h2>
                Safe Ride also offers internships! You can earn 1-2 upper division
                Women's and Gender Studies credits, or 1-2 Family and Human Services
                credits. To receive 2 credits, you must commit 50 hours throughout
                the term to Safe Ride activities. To receive 1 credit, you must
                commit 30 hours. As an intern, you will have the same responsibilities
                as volunteers with the addition of attending and coordinating different
                educational events on campus, and submitting various writing activities.
                Stop by our office to speak with one of our volunteer and intern
                coordinators for more information!
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal">Back</button>
              </div>
          </div>
      </div>
  </div>

</template>
