<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SafeRide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>854D395E1CAC70B900C72EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854D39741CAC70BA00C72EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>854D397F1CAC70BA00C72EE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85E1A4841CE3C17F00690BCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85EDC4891CC2FDA1000BB637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85EDC4921CC2FDA1000BB637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB7A78B51CC80FD800FB3A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB7A78C31CC810F300FB3A0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
